* {
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display:flex;
  flex-wrap: wrap;
}

.image-link {
  margin:1em;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.image-link > p {
  padding:1em;
  color:white;
  text-shadow: 2px 2px 8px black;
  font-size: 2em;
}

.image-link:hover {
  outline: 4px solid green;
  outline-offset: -4px;
}

.image-link:hover > p {
  color:chartreuse;
}